.welcome-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  padding: 15px 0;
}

.welcome-content {
  /* background: linear-gradient(to right, #004d99, #00b3b3); */
  width: 100vw;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.welcome-content .overlay {
  background: rgba(0, 0, 0, 0.6);
  padding: 50px;
  border-radius: 10px;
  width: 100%;
}

.features h4 {
  font-size: 1.5rem;
  color: #007bff;
}

.footer {
  margin-top: auto;
}
